[submodule "lib/Coq-Library-Undecidability-current"]
	path = lib/Coq-Library-Undecidability-current
	url = https://github.com/VladimirReshetnikov/coq-library-undecidability.git
[submodule "lib/FormalizedFormalLogic-Foundation"]
	path = lib/FormalizedFormalLogic-Foundation
	url = https://github.com/VladimirReshetnikov/Foundation.git
